.wrap button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: deepskyblue;
    color: white;
    border: none;
    font-size: 22px;
    line-height: 30px;
}
.wrap h3{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}