aFontColor=#00CCFF
#contain 
  text-align center
  width 400px
  height 300px
  position absolute
  top 50%
  left 50%
  margin-top -150px
  margin-left -200px
  border-radius 5px  
  -webkit-box-shadow 0px 0px 2px 0px aFontColor
  -moz-box-shadow 0px 0px 2px 0px aFontColor
  box-shadow 0px 0px 2px 0px aFontColor
  img 
    transform scale(0.7)
  ul 
    margin-right 50px
    li 
      list-style none
      display inline-block
      margin-left 10px

a
  &:link 
    text-decoration none
    color aFontColor
  &:active 
    text-decoration none
  &:hover 
    text-decoration none
    color aFontColor
  &:visited 
    text-decoration none
    color aFontColor
  span
